<section class="vbox">
    <section>
        <section class="hbox stretch">
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder">
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">Site statistics</header>
                            <select><option ngFor="let opt of options" value="{{opt}}"></option></select>
                            <div class="panel-body">
                                <div id="flot-1ine" style="height:250px"></div>
                            </div>

                        </section>
                        <div class="row">
                            <div class="col-md-6">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">Multiple</header>
                                    <div class="panel-body">
                                        <div id="flot-chart"  style="height:240px"></div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">Real-time update</header>
                                    <div class="panel-body">
                                        <div id="flot-live"  style="height:240px"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">Vertical bar</header>
                                    <div class="panel-body">
                                        <div id="flot-bar"  style="height:240px"></div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">Horizontal bar</header>
                                    <div class="panel-body">
                                        <div id="flot-bar-h"  style="height:240px"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">Pie Chart</header>
                                    <div class="panel-body">
                                        <div id="flot-pie"  style="height:240px"></div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold">Donut pie</header>
                                    <div class="panel-body">
                                        <div id="flot-pie-donut"  style="height:240px"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
        </section>
    </section>
</section>
<script src="js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.js"></script>
<!-- App -->
<script src="js/app.js"></script>
<script src="js/app.plugin.js"></script>
<script src="js/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Sparkline Chart -->
<script src="js/charts/sparkline/jquery.sparkline.min.js"></script>
<!-- Easy Pie Chart -->
<script src="js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
<!-- Flot -->

