@import url('https://fonts.googleapis.com/css?family=Orbitron');
*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}


body{
  background:radial-gradient(rgb(78, 82, 88) 26%,rgb(78, 82, 88) 23%,#222631);
  height:100vh;
  display:flex;


}
#map_title{
  width:100%;
  position:absolute;
}
#map_name{
  color: #38668c;
  font-family: 'Orbitron', cursive;
  position: relative;
  text-shadow: 0px 0px 5px #3b3f47, 0px 0px 33px #32363f;
  font-size: 22px;
  width: 130px;
  margin: auto;
  padding: 25px;
  text-align: center;

}
#map_name:before{
  content: "";
  width: 46px;
  height: 2px;
  left: 31px;
  top: 57px;
  z-index: 100;
  background: gray;
  position: absolute;
}
#map_name:after {
  content: "map";
  width: 10px;
  height: 50px;
  top: 50px;
  font-size: 12px;
  left: 80px;
  /* background: red; */
  position: absolute;
}
.region {
  fill: rgba(33, 150, 243, 0.36);
  stroke: gray;
}
path#XMLID_6_ {
  stroke:gray;
  fill:transparent;
}
.region:hover {
  fill: rgba(255, 152, 0, 0.39);
  stroke:gray;
  cursor:pointer;
}
svg{

  margin-top: 50px;
  height: 450px;
  transition:1s;
}

#map{
  height:500px;
  margin:auto;
  position:relative;

}
.town{
  position:absolute;
}
.town_name{
  text-align:center;
  width:100px;
  height:30px;

  padding:5px;
  border-radius:25px;
  position:relative;
  color:white;
  font-size:13px;
  font-family: 'Orbitron', cursive;
}
.left > .town_name:before{
  content:"";
  width:150px;

  position:absolute;
  bottom:-32px;
  left:51px;

  background:gray;
  box-shadow:0px 0px 2px 1px rgba(255, 152, 0, 0.39);
}
.left > .town_name:after{
  content:"";

  padding:3px;
  position:absolute;
  bottom:-34px;
  left:50px;
  border-radius:50%;

  background:rgba(255, 152, 0, 0.39);
  box-shadow: 0px 0px 2px 1px rgba(255, 152, 0, 0.39);
  animation: pulsating 1s infinite;
}
.right > .town_name:before{
  content:"";
  width:150px;

  position:absolute;
  bottom:-32px;
  left:-100px;

  background:gray;
  box-shadow:0px 0px 2px 1px rgba(255, 152, 0, 0.39);
}
.right > .town_name:after{
  content:"";

  padding:3px;
  position:absolute;
  bottom:-34px;
  left:50px;
  border-radius:50%;

  background:rgba(255, 152, 0, 0.39);
  box-shadow: 0px 0px 2px 1px rgba(255, 152, 0, 0.39);
  animation: pulsating 1s infinite;
}
@keyframes pulsating {
  0% {}
  100% {box-shadow: 0px 0px 0px 15px rgba(255, 152, 0, 0.139);}
}

.t_name{
  background:rgba(33, 150, 243, 0.36);
  width:130px;
  margin-left:9px;
  padding:5px;

}
.t_name:before{
  content: url(http://www.novisdev.com/image/ct.png);
  position: absolute;
  top: -5px;
  left: 8px;
  animation:hide_show 1s infinite linear;
}
.t_name:after{
  content: url(http://www.novisdev.com/image/cb.png);
  position: absolute;
  bottom: -10px;
  left: 8px;
  animation:hide_show 1s infinite linear;
}

.design_map{
  position:absolute;
  bottom:-10px;
  left:34%;
  z-index: -1;
  perspective:150px;
}
.design{
  width:100px;
  height:100px;
  border-radius:50%;

  transform: rotateX(57deg) rotateZ(180deg);;
  border:solid 15px rgba(255, 152, 0, 0.39);
  opacity:1;
  transition:1s ease-in-out;
  border-left:solid 15px transparent;
  border-right:solid 15px transparent;
  box-shadow:0px 0px 50px 5px orange;
  animation:rot 2s infinite linear;
}
@keyframes rot {
  0% {transform: rotateX(57deg) rotateZ(0deg); }
  100% { transform: rotateX(57deg) rotateZ(-180deg);  }
}
@keyframes hide_show{
  0%{opacity:0;}
  100%{opacity:1;}
}

.detail_weather{
  position:absolute;
  color:white;
  display:flex;
  flex-direction:column;
  left: 5%;
  top: 30%;
  background:#38668c;
  padding:5px;
  border-radius:10px;
}

.info{
  font-size:20px;
  padding:5px 0;
  text-align:center;
}
.wi{
  margin-right:5px;
}
.w_info{
  display:flex;
  padding:10px;
}

.w_info:not(:last-child){
  border-bottom:solid 1px #eee;
}